/* SOCIAL BG COLORS */
.white-text-color{
    color: #fff;
    letter-spacing: 1px;
}

.facebook-color{
    color: #3b5998;
}

.twitter-color{
    color: #1da1f2;
}

.instagram-color{
    color: #c32aa3;
}

.google-plus-color{
    color: #db4437;
}

.apple-color{


}

.windows-color{


}

.android-color{


}

.github-color{


}

.linux-color{


}

.discord-color{

     
}



/* 0917  */